.hero-stats{
    display:flex;
    justify-content:center;
    gap:60px;
    margin-top:50px;
}

.stat{
    text-align:center;
}

.stat h2{
    font-size:2rem;
    color:white;
}

.stat p{
    color:white;
    opacity:.8;
}